header {
  padding: 20px;
  background-image: url(images/green.jpeg);
  height: 15rem;
}

.header-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3rem;
}

.header-text p {
  margin-top: -30px;
  font-size: 20px;
  color: rgb(40, 52, 66);
}

h1 {
  font-size: 50px;
}
